body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#myForm {
    padding: 12px;
    margin: 20px 30%;
    border: 1px solid #C2C2C2;
}

#myForm .form-input, .form-submit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#myForm .form-submit {
    height: 50px;
}

#submitLoader {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #C2C2C2;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: -90px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#myForm .form-input {
    padding-bottom: 10px;
}

#myForm .form-input label {
    flex: 1 0 120px;
    max-width: 140px;
}

#myForm .form-input label + * {
    flex: 1 0 220px;
}

#myForm .form-input input {
    border: 1px solid #C2C2C2;
}

#myForm .form-input .error {
    border: 1px solid red;
}

#submitButton {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #C2C2C2;
    letter-spacing: .1em;
}

#submitButton:disabled {
    background: #777;
}

#resultContainer {
    text-align: center;
    min-height: 18px;
    padding: 8px 0;
}